#change-theme
{
    background: white;
    color: red;
}

.link, .link:hover
{
  color: red;
}

img
{
  display: block;
  margin: 0 auto;
  width: 450px;
  height: 150px;
}


footer{
   width: 100%;
   background-color: #007bff;
   color: black;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    min-height: none;
  }
}